<div class="nav_wrapper">
    <ul>
      <li><a class="active" href="#home">Home</a></li>
      <li><a href="#contact">Contact</a></li>
      <li><a href="#about">About</a></li>
    </ul>
    <div class="nav-right">
      <div class="dropdown">
        <button class="dropbtn" id="signInBtn">SignIn As</button>
        <div class="dropdown-content">
          <a href="#">Admin</a>
          <a href="#">Company</a>
          <a href="#">Student</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn" id="signUpBtn">SignUp As</button>
        <div class="dropdown-content">
          <a href="#">Admin</a>
          <a href="#">Company</a>
          <a href="#">Student</a>
        </div>
      </div>
    </div>
    <h3 class="nav_logo">Campus Recruitment System</h3>
</div>
