<div class="nav_wrapper">
    <h3 class="nav_logo">CRS</h3>
    <ul>
      <li><a class="active" href="#home">Home</a></li>
      <li><a href="#contact">Contact</a></li>
      <li><a href="#viewpostedjob">View posted job</a></li>
      <li><a href="#newjob">Add New Job</a></li>
      <li><a href="#contact">Message</a></li>
      <li><a href="#about">About</a></li>
    </ul>
    <div class="nav-right">
      <div class="dropdown">
        <button class="dropbtn" id="signInBtn">SignIn As</button>
        <ul class="dropdown-content">
          <li>Admin</li>
          <li>Company</li>
          <li>Student</li>
        </ul>
      </div>
      <div class="dropdown">
        <button class="dropbtn" id="signUpBtn">SignUp As</button>
        <ul class="dropdown-content">
          <li>Admin</li>
          <li>Company</li>
          <li>Student</li>
        </ul>
      </div>
    </div>
</div>
