<mat-card class="adminPanel">
  <div class="admin-wrapper">
     <strong >Student Panel</strong> 
  </div>  
 <div class="adminimage">
     <img src="../../../assets/Images/user-image.jpg" >
 </div>

 <h3>{{ username }}</h3>
 <div class="views">
    
    <button class="button edit-btn" (click)="editProfile()">Edit Student Profile</button>
    
 </div>

 </mat-card>
    <mat-card class="editfor" *ngIf="editMode">
    <form #commentForm="ngForm" novalidate>
            <div class="form-container">
              <label for="name">Username</label>
              <input type="text" value={{username}} [(ngModel)]="editPro.username" #username="ngModel" name="username" id="username" class="form-control"
               />
              <div *ngIf="username.errors && (username.dirty || username.touched)" class="alert alert-danger">
                <div [hidden]="!Username.errors.required">Username is Required!</div>
              </div>
        
              <label for="name">Full Name</label>
              <input id="fullname"  type="text" [(ngModel)]="editPro.fullname" #fullname="ngModel" name="fullname" class="form-control"
                 />
             
              <div *ngIf="fullname.errors && (fullname.dirty || fullname.touched)" class="alert alert-danger">
                <div [hidden]="!fullname.errors.required">Full Name is Required!</div>
              </div>
        
              <label for="name"> Email</label>
              <input id="email"  type="text" value={{email}} [(ngModel)]="editPro.email" #email="ngModel" name="email" class="form-control"
                 />
             
              <div *ngIf="email.errors && (email.dirty || email.touched)" class="alert alert-danger">
                <div [hidden]="!email.errors.required">Email is Required!</div>
              </div>

              <label for="name"> CGPA </label>
              <input id="cgpa"  type="text" [(ngModel)]="editPro.cgpa" #cgpa="ngModel" name="cgpa" class="form-control"
                 />
             
              <div *ngIf="cgpa.errors && (skills.dirty || cgpa.touched)" class="alert alert-danger">
                <div [hidden]="!cgpa.errors.required">CGPA is Required!</div>
              </div>

              <label for="name"> Skills </label>
              <input id="skills"  type="text" [(ngModel)]="editPro.skills" #skills="ngModel" name="skills" class="form-control"
                 />
             
              <div *ngIf="skills.errors && (skills.dirty || skills.touched)" class="alert alert-danger">
                <div [hidden]="!address.errors.required">Skills are Required!</div>
              </div>

              <label for="name"> Experience </label>
              <input id="experience"  type="text"  [(ngModel)]="editPro.experience" #experience="ngModel" name="experience" class="form-control"
                 />
             
              <div *ngIf="experience.errors && (experience.dirty || experience.touched)" class="alert alert-danger">
                <div [hidden]="!experience.errors.required">Experience is Required!</div>
              </div>


              <button type="submit" [disabled]="!commentForm.form.valid" class="button" (click)="updateEdited()">Update</button>
              <button type="button" class="button" (click)="cancelEdit()">Cancel</button>
            </div>
          </form>
</mat-card>
 <mat-card class="stdcmp" *ngIf="!editMode">
        <mat-tab-group>
                <mat-tab label="Student Profile">
                    <div class="sp-columns">
                    <strong> Username:</strong> {{username}} <br>
                    <strong> Full Name:</strong> {{fullname}} <br>
                    <strong> Email:</strong> {{email}}<br>
                    <strong> CGPA:</strong> {{cgpa}} <br>
                    <strong> Skills:</strong> {{skills}} <br>
                    <strong> Experience:</strong> {{experience}} 
                    </div>
                </mat-tab>
                <mat-tab label="View Jobs">
                  <div class="job-container">
                    <div class="joblist-container" id="list" *ngFor="let job of jobs | async">
                           <div class="row-colums">
                              <button type="button" class="button btn-danger job-btn" (click)="cancelapply()">Cancel</button>
                              
                            <button class="button btn-danger job-btn" (click)="applyjob(job.key)">Apply</button>
                                   <h5>{{job.jt }}</h5>
                                   <p>{{job.jd}} </p>
                                  </div>
                    </div>
                  </div>

                </mat-tab>
              </mat-tab-group>
      
 </mat-card>