<!-- <div *ngIf="!viewMode"></div> -->

<mat-card class="adminPanel">
 <div class="admin-wrapper">
    <div class="adpanel" >Admin Panel</div> 
 </div>  
<div class="adminimage">
    <img src="../../../assets/Images/user-image.jpg" >
</div>
<h4>Admin</h4>
<div class="views">
   
</div>

</mat-card>

<mat-card class="stdcmp" *ngIf="!viewMode && !compviewMode && !jobview" >   
        <mat-tab-group>
                
                <mat-tab label="View All Students" >
                        <div class="view-container">
                                <div class="viewlist-container" id="list" *ngFor="let student of students | async">
                                    <div class="view-colums">
                                        <div class= "viewname"> 
                                            <strong>Username: </strong> {{student.username }} <br>    
                                            <strong>Name: </strong> {{student.fullname }} 
                                       </div> 
                                       <button class ="view-btn2" mat-raised-button color="warn" (click)="removeDetail(student.key)">Delete</button>
                                       <button class ="view-btn2" mat-raised-button color="primary"(click)="viewstdDetail(student)">View Details</button>
    
                                       
                                    </div>
                                      </div>
                                    </div>
                        
                          
                  


                </mat-tab>
                <mat-tab label="View All Companies">

                        <div class="view-container">
                                <div class="viewlist-container" id="list" *ngFor="let company of companys | async">
                                    <div class="view-colums">
                                        <div class= "viewname"> 
                                                <strong>Comapny Name: </strong> {{company.username }} 
                                       </div> 
                                       <button class ="view-btn2" mat-raised-button color="warn" (click)="removeCompany(company.key)">Delete</button>
                                       <button class ="view-btn2" mat-raised-button color="primary"(click)="viewComDetail(company)">View Details</button>
                                       
                                    </div>
                                      </div>
                                    </div>


                </mat-tab>
                <mat-tab label="View All Jobs">
                        <div class="viewlist-container" id="list" *ngFor="let job of jobs | async">
                               
                                <div class="view-colums">
                                    <div class= "viewname"> 
                                        <strong>Job Title:</strong> {{job.jt }}
                                            <p> <strong>Comapny Name: </strong> {{job.cname }}  </p>
                                   </div> 
                                   <button class ="view-btn2" mat-raised-button color="warn" (click)="removejob(job.key)">Delete</button>
                                   <button class ="view-btn2" mat-raised-button color="primary"(click)="viewjobDetail(job)">View Details</button>
                                   
                                </div>
                                  </div>
                            

                </mat-tab>
              </mat-tab-group>

</mat-card>

<mat-card class="stdcmp"  *ngIf="viewMode">
    <h2>{{this.viewstd.fullname }} </h2>
    <mat-list>
        <mat-list-item> <strong>Email: </strong> {{this.viewstd.email }}  
             </mat-list-item>
        <mat-list-item><strong>CGPA: </strong> {{this.viewstd.cgpa }}</mat-list-item>
        <mat-list-item> <strong>Experience: </strong> {{this.viewstd.experience }}    
        </mat-list-item>
   <mat-list-item><strong>Skills: </strong> {{this.viewstd.skills }}</mat-list-item>
 
      </mat-list>
      <button class ="view-btn2" mat-raised-button color="primary"(click)="ok()">OK</button>
    </mat-card>

    <mat-card class="stdcmp"  *ngIf="compviewMode">
            <h2>{{this.viewcomp.cname }} </h2>
            <mat-list>
                <mat-list-item><strong>Username: </strong> {{this.viewcomp.username }}</mat-list-item>
                <mat-list-item> <strong>Email: </strong> {{this.viewcomp.email }}  
                     </mat-list-item>
                
                <mat-list-item> <strong>Address: </strong> {{this.viewcomp.address }}    
                </mat-list-item>
           <mat-list-item><strong>Contact: </strong> {{this.viewcomp.contact }}</mat-list-item>
         
              </mat-list>
              <button class ="view-btn2" mat-raised-button color="primary"(click)="okcmp()">OK</button>
            </mat-card>


            <mat-card class="stdcmp"  *ngIf="jobview">
                    <h2>{{this.viewjob.jt }} </h2>
                    <mat-list>
                        <mat-list-item><strong>Comapny Name: </strong> {{this.viewjob.cname }}</mat-list-item>
                        <mat-list-item> <strong>Email: </strong> {{this.viewjob.email }}  
                             </mat-list-item>
                        
                        <mat-list-item> <strong>Job Description: </strong> {{this.viewjob.jd }}    
                        </mat-list-item>
                                   
                      </mat-list>
                      <button class ="view-btn2" mat-raised-button color="primary"(click)="okjob()">OK</button>
                    </mat-card>