<div *ngIf="!editMode"></div>
<mat-card class="adminPanel">
    <div class="admin-wrapper">
        <strong>Company Panel</strong>
    </div>
    <div class="adminimage">
        <img src="../../../assets/Images/user-image.jpg">
    </div>
    <h3>{{ username }}</h3>

    <div class="views">
        <button class="button edit-btn" (click)="editProfile()">Edit Company Profile</button>

    </div>
</mat-card>

<mat-card *ngIf="editMode" class="editfor">
    <form #commentForm="ngForm" novalidate>
        <div class="form-container">

            <label for="name">Username</label>
            <input type="text" value={{username}} [(ngModel)]="editPro.username" #username="ngModel" name="username" id="username" class="form-control"
            />
            <div *ngIf="username.errors && (username.dirty || username.touched)" class="alert alert-danger">
                <div [hidden]="!Username.errors.required">Username is Required!</div>
            </div>

            <label for="name">Company Name</label>
            <input id="cname" type="text" [(ngModel)]="editPro.cname" #cname="ngModel" name="cname" class="form-control" />

            <div *ngIf="cname.errors && (cname.dirty || cname.touched)" class="alert alert-danger">
                <div [hidden]="!cname.errors.required">Company Name is Required!</div>
            </div>

            <label for="name"> Email</label>
            <input id="email" type="text" value={{email}} [(ngModel)]="editPro.email" #email="ngModel" name="email" class="form-control"
            />

            <div *ngIf="email.errors && (email.dirty || email.touched)" class="alert alert-danger">
                <div [hidden]="!email.errors.required">Email is Required!</div>
            </div>

            <label for="name"> Address </label>
            <input id="address" type="text" [(ngModel)]="editPro.address" #address="ngModel" name="address" class="form-control" />

            <div *ngIf="address.errors && (address.dirty || address.touched)" class="alert alert-danger">
                <div [hidden]="!address.errors.required">Address is Required!</div>
            </div>

            <label for="name"> Contact </label>
            <input id="contact" type="text" [(ngModel)]="editPro.contact" #contact="ngModel" name="contact" class="form-control" />

            <div *ngIf="contact.errors && (contact.dirty || contact.touched)" class="alert alert-danger">
                <div [hidden]="!contact.errors.required">Contact is Required!</div>
            </div>


            <button type="submit" [disabled]="!commentForm.form.valid" class="button" (click)="updateEdited()">Update</button>
            <button type="button" class="button" (click)="cancelEdit()">Cancel</button>
        </div>
    </form>
</mat-card>



<mat-card class="stdcmp" *ngIf="!editMode">
    <mat-tab-group>
        <mat-tab label="Company Profile">
            <div class="job-container">
                <div class="cp-columns">

                    <strong> Username:</strong>{{username}} <br>
                    <strong> Company Name:</strong> {{cname}} <br>
                    <strong> Email:</strong> {{email}}<br>
                    <strong> Address:</strong> {{address}} <br>
                    <strong> Contact:</strong> {{contact}}
                </div>

            </div>

        </mat-tab>
        <mat-tab label="Add Jobs">

            <h2>Add Job</h2>

            <form #commentForm="ngForm" novalidate>
                <div class="form-container">
                    <label for="name">Job Title</label>
                    <input type="text" [(ngModel)]="addjob.jt" #jt="ngModel" name="jt" id="jt" class="form-control" />
                    <div *ngIf="jt.errors && (jt.dirty || jt.touched)" class="alert alert-danger">
                        <div [hidden]="!jt.errors.required">Job Title is Required!</div>
                    </div>



                    <label for="name">Job Description</label>
                    <textarea type="text" [(ngModel)]="addjob.jd" #jd="ngModel" name="jd" id="jd" class="form-control"> </textarea>
                    <div *ngIf="jd.errors && (jd.dirty || jd.touched)" class="alert alert-danger">
                        <div [hidden]="!jd.errors.required">Job Description is Required!</div>
                    </div>
                
                    <button type="submit" [disabled]="!commentForm.form.valid" class ="view-btn1" mat-raised-button color="primary" (click)="addJob()">Add job</button>
                    <button class ="view-btn1" mat-raised-button color="warn"  (click)="cancelJob()">Cancel</button>
                    
                </div>
            </form>
        </mat-tab>
        <mat-tab label="View My Jobs">
            <div class="job-container">
                <div class="joblist-container" id="list" *ngFor="let job of jobs | async">
                    <div class="row-colums">
                        <button class ="view-btn" mat-raised-button color="warn" (click)="deletejob(job.key)">Delete</button>
                        <button class ="view-btn" mat-raised-button color="primary"(click)="Edit()">Edit</button>
                        <strong>Job Title:</strong> {{job.jt }}
                        <p>{{job.jd}} </p>
                    </div>
                </div>
            </div>


        </mat-tab>
        <mat-tab label="View Student Details">
            <div class="view-container">
                <div class="viewlist-container" id="list" *ngFor="let student of students | async">
                    <div class="view-colums">
                            <strong>Username: </strong> {{student.username }} <br>    
                            <strong>Name: </strong> {{student.fullname }} 
                         
                        <button class ="view-btn2" mat-raised-button color="warn" (click)="removeDetail()">Delete</button>
                        <button class ="view-btn2" mat-raised-button color="primary"(click)="viewDetail()">View Details</button>
                    </div>
                        
                        <!-- <p> Student name: {{student.username}} </p>
                        <p> Full Name: {{student.fullname}} </p>
                        <p> Email: {{student.email}}</p>
                        <p> CGPA:{{student.cgpa}} </p>
                        <p> Skills: {{student.skills}} </p>
                        <p> Experience:{{student.experience}} </p> -->
                      
                    </div>
                </div>
            
        </mat-tab>
    </mat-tab-group>



</mat-card>